*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: jost;
}

body{
    background-color: rgb(1, 1, 117);

}

nav ul{
    display: flex;
    margin-top: 25px;
    margin-bottom: 0px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
    position: relative;
    margin-left: 2vw;
}

.bg2{
    background-color: rgb(1, 1, 117);
    display: flex;
}
.bg2 .newway{
    font-family: 'Jost';
    width: 50%;
    text-transform:capitalize;
    color: white;
    margin-top: 50px;
}
.bg2 .newway h1{
    font-size:3.9vw;
    position: relative;
    top: 5vw;
    left: 4vw;
    line-height: 5vw;
}
.bg2 .newway p{
    font-size:1.3vw;
    position: relative;
    top: 6.5vw;
    left: 4vw;
}
.bg2 .newway a{
    text-decoration: none;
    
}
.bg2 .newway .jw{
    color: white;
    position: relative;
    left: 4vw;
    font-size: 1.5vw;
    top: 10vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    border-radius: 18px;
    padding: 14px;
    height: 42px;
    width: 149px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;

}
.bg2 .jw:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }
.bg2 .newway .lm{
    color: orange;
    position: relative;
    left: 10vw;
    top: 10vw;
    font-size: 1.5vw;  
}
.bg2 .lm:hover{
    font-weight: 600;
    transition: 0.5s;
 }

.bg2 .first{
    width: 50%;
    margin-top: 50px;
}
.bg2 .first img{
    width:80%;
    position: relative;
    left: 4vw;
}
.bg3{
    background-color:rgb(1, 1, 117) ;
    height: 42vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 50px;
}
.bg3 h2{
    color: white;
    top: 8vw;
    left: 20px;
}
.bg3 .coursesoffered{
    display: flex;
    position: relative;
    top: 10vw;
    overflow-x: auto;
    scroll-snap-type: x;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
    
}

.bg3 .coursesoffered::-webkit-scrollbar{
    display: none;
} 

.bg3 a{
    color: white;
    text-decoration: none;
}
.bg3 .dt{
    padding: 15px;
    position: relative;
    padding: 8vw;
   
}
.bg3 .datas{
background-color: rgba(255, 255, 255, 0.117);
border-radius: 13px;
padding-top: 1vw ;
position: relative;
width: 255px;
height: 196px;

}
.bg3 p{
    font-size: 2vw;
    text-align: center;
}
.bg3 .design{
    background-color: rgba(255, 255, 255, 0.117);
    border-radius: 13px;
    position: relative;
    left: 40px;
    padding-top: 1vw ;
    width: 255px;
    height: 196px;
    }
    .bg3 .photo{
        background-color: rgba(255, 255, 255, 0.117);
        border-radius: 13px;
        position: relative;
        left: 60px;
        padding-top: 1vw ;
        width: 255px;
        height: 196px;
        }
    .bg3 .cypto{
        background-color: rgba(255, 255, 255, 0.117);
        border-radius: 13px;
        position: relative;
        left: 80px;
        padding-top: 1vw ;
        width: 255px;
        height: 196px;
 } 
 .bg3 img{
    align-items: center;
    margin-right: 25px;
 }   
 .bg3 .vw{
    position: relative;
    top: 13vw;
    font-size: 1.5vw;
    left: 37vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    height: 42px;
    width: 149px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;
    color: white;
    border-radius: 20px;
 }
 .bg3 .vw:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }
 .bg4{
    background-color:rgb(1, 1, 117) ;
    height: 50vw;
 }

 .bg4two{
    background-color:rgb(1, 1, 117) ;
    height: 50vw;
 }

 .bg4 .exc{
    display: flex;
    color: white;
 }
 .bg4 ul{
    display: flex;
    position: relative;
    left: 27vw;
    
}
.bg4 ul li{
    list-style:none;
}

.bg4 ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
   margin-left: 2vw;
}
.bg4 ul li a:hover{
    border-bottom: 0.2vw solid rgb(5, 121, 167) ;
    padding-bottom: 0.3vw;
}
.bg4 h2{
    margin-left: 4.5vw;
    color: white;
}

.bg4 .courses2{
    display: flex;
}
.bg4two .courses2{
    display: flex;
}

.bg4 nav{
    display: flex;
}

.bg4 .courses2 .cbody{
    border: #15ADD9 solid 0.1vw;
    width: 27vw;
    padding: 0.4vw;
    border-radius: 20px;
    height: 70vh;
    margin-left: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 30px;
}
.bg4two .courses2 .cbody{
    border: #15ADD9 solid 0.1vw;
    width: 27vw;
    padding: 0.4vw;
    border-radius: 20px;
    height: 70vh;
    margin-left: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 30px;
}

.bg4 .javaandco{ 
    border-radius: 20px;
    background:url(/images/java\ and\ co.PNG);
    background-position: center;
    background-repeat: no-repeat;
    width: 26vw;
    height: 30vh;
}
.bg4two .javaandco{ 
    border-radius: 20px;
    background:url(/images/java\ and\ co.PNG);
    background-position: center;
    background-repeat: no-repeat;
    width: 26vw;
    height: 30vh;
}

.bg4 .javaandco button{
    background: linear-gradient(180deg, #1687D9 0%, #1626D9 100%);
    color: white;
    border-radius: 7px;
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
    position: relative;
    left: 0.4vw;
    top: 0.5vw;
}
.bg4two .javaandco button{
    background: linear-gradient(180deg, #1687D9 0%, #1626D9 100%);
    color: white;
    border-radius: 7px;
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
    position: relative;
    left: 0.4vw;
    top: 0.5vw;
}
.bg4 .javaandco .love{
    padding: 4px;
    position: relative;
    left: 12vw;
    top: 0.5vw;
}
.bg4two .javaandco .love{
    padding: 4px;
    position: relative;
    left: 14vw;
    top: 0.5vw;
}
.bg4 .javaandco2{
  display: flex; 
  color: white; 
  margin-top: 1vw;
  font-size: 1.1vw;
}
.bg4two .javaandco2{
    display: flex; 
    color: white; 
    margin-top: 1vw;
    font-size: 1.1vw;
  }
.bg4 .javaandco2 .dev{
    margin-right: 12.8vw;
    color: #E0E0E080;
}
.bg4two .javaandco2 .dev{
    margin-right: 12.8vw;
    color: #E0E0E080;
 }
.bg4 .javaandco3{
    margin-top: 0.8vw;
}
.bg4two .javaandco3{
    margin-top: 0.8vw;
}
.bg4 .javaandco3 a{
    text-decoration: none;
    color: white;
    font-size: 1.1vw;
}
.bg4two .javaandco3 a{
    text-decoration: none;
    color: white;
    font-size: 1.1vw;
}
.bg4 .author{
    display: flex;
    margin-top: 1.5vw;
    color: white;
    font-size: 0.9vw;
    border-bottom: thin solid rgb(5, 121, 167) ;
    padding-bottom: 2.5vw;
}
.bg4two .author{
    display: flex;
    margin-top: 1.5vw;
    color: white;
  font-size: 0.9vw;
  border-bottom: thin solid rgb(5, 121, 167) ;
  padding-bottom: 2.5vw;
}
.bg4 .author img{
    width: 2vw;
    height: 2vw;
    border-radius: 14vw;
    margin-right: 0.6vw;
}
.bg4two .author img{
    width: 2vw;
    height: 2vw;
    border-radius: 14vw;
    margin-right: 0.6vw;
}
.bg4 .author p{
    position: relative;
    top: 0.5vw;
}
.bg4two .author p{
    position: relative;
    top: 0.5vw;
}
.bg4 .author .rr{
    margin-right: 5.8vw;
}
.bg4two .author .rr{
    margin-right: 5.8vw;
}
.bg4 .author .amount{
    font-size: 1.2vw;
}
.bg4two .author .amount{
    font-size: 1.2vw;
}
.bg4 .others{
    display: flex;
    color: white;
    margin-top: 1vw;
    gap: 36px;
    margin-left: 1vw;
}
.bg4two .others{
    display: flex;
    color: white;
    margin-top: 1vw;
    gap: 36px;
    margin-left: 1vw;
}

.bg4 .va{
    position: relative;
    margin-top: 0px;
    top: 40vw;
    text-decoration: none;
    font-size: 1.5vw;
    right: 53vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    padding: 8px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
 }
 .bg4 .va:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }

.bg5{
    background-color:rgb(1, 1, 117) ;
    display: flex;  
}
.bg5 .newway{
    width: 50%;;
    color: white;
    margin-top: 100px;
    
}
.bg5 .newway h1{
    font-size:3.9vw;
    position: relative;
    top: 5vw;
    left: 4vw;
    line-height: 5vw;
}
.bg5 .newway h1 span{
    font-size:4.4vw;
}
.bg5 .newway p{
    font-size:1.3vw;
    position: relative;
    top: 6.5vw;
    left: 4vw;
    line-height: 1.7vw;
}
.bg5 .newway a{
    text-decoration: none;
    
}
.bg5 .newway .gs{
    color: white;
    position: relative;
    left: 4vw;
    font-size: 1.5vw;
    top: 10vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    border-radius: 18px;
    padding: 14px;
    height: 42px;
    width: 149px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;
}
.bg5 .gs:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }
.bg5 .first{
    width: 50%;
    margin-top: 50px;
}
.bg5 .first img{
    width:60%;
    position: relative;
    left: 4vw;
    margin-top: 100px;
    
}
.bg6{
    background-color: rgb(1, 1, 117) ;
    height: 75vh;
}
.bg6 h2{
    padding-top: 7vw;
    text-align: center;
    color: white;
    font-size:3vw;
}
.bg6 h1{
    text-align: center;
    color: white;
    font-size:7vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 2vw;
}
.bg6 p{
    text-align: center;
    color: white;
    font-size:1.5vw;
    position: relative;
    bottom: 2.2vw;
}
.bg6 .jd{
    position: relative;
    left: 46.3vw;
    width: 10vw;
    
}
.bg6 img{
    width: 3vw;
    border-radius: 20vw;
    position: relative;
    left: 44.7vw;
    top: 1vw;
}
.bg7{
    background-color: rgb(1, 1, 117);
    display: flex;
}
.bg7 img{
    position: relative;
    left: 4vw;
}
.bg7 .bai h1{
    font-size:3.9vw;
    position: relative;
    top: 5vw;
    color: white;
    width: fit-content;
    left: 15vw;
    line-height: 5vw;
    
}
.bg7 .bai p{
    font-size:1.5vw;
    position: relative;
    top: 6vw;
    color: white;
    width: fit-content;
    left: 15vw;
}
.bg7 .bai .instructor{
    color: white;
    position: relative;
    text-decoration: none;
    left: 15vw;
    font-size: 1.5vw;
    top: 10vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
}
.bg7 .instructor:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }
 .bg8{
    background-image: linear-gradient(162deg, #000074 0%, rgba(0, 58, 116, 0.9) 100%);
    display: flex;
    color: white;
    height: 80vh;
    margin: 50px;
    border-radius: 50px;
}
.bg8 .rows{
    margin-left: 5vw;
    margin-top: 15vw;
}
.bg8 .rows .row1{
    display: flex;
    font-size: 1.7vw;
}
.bg8 .rows .row1 p{
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rows .row2{
    margin-top: 3vw;
    font-size: 1.5vw;

}
.bg8 .rows .row3{
    margin-top: 3vw;
    font-size: 1.5vw;

}
.bg8 .rowstwo{
    margin-left: 25vw;
    margin-top: 15vw;
}
.bg8 .rowstwo a{
   color: white;
   text-decoration: none;
}
.bg8 .rowstwo .rowi{
    font-size: 1.7vw;
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rowstwo .rowii{
    margin-top: 3vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowiii{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowiv{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowv{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree{
    margin-left: 20vw;
    margin-top: 15vw;
   
}
.bg8 .rowsthree .row11{
    font-size: 1.7vw;
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rowsthree .row12{
    margin-top: 3vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row13{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row14{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row15{
    margin-top: 2vw;
    font-size: 1.5vw;
}

.bi-bi-arrow-right-square{
color: aliceblue;
}

.scroll{
    position: absolute; 
    bottom: 0; 
    right: 100;
    margin-left: 2vw;
}

.course-nav{
    position: relative;
    display: flex;
    margin-left: 700px;
    gap: 50px;
    
}
.course-nav .bg{
    
    background-color: #3551A0;
    border-radius: 20px;
    padding: 10px; 
    width: 40px;
}
.course-text{
    display: flex;
    margin-top: 150px;
}
.nav-item{
    background-color: rgb(1, 1, 117);
}
.justify-content-end{
    background-color: rgb(1, 1, 117);
  
}
.nav-link{
    color: #E0E0E0B2;
    ;
}
.nav-link:hover{
    border-bottom: 0.2vw solid rgb(5, 121, 167) ;
    padding-bottom: 0.3vw;
    color: white;
}
.bg4 .others img{
    width: 15px;
    color: #E0E0E0;
    
}
.bg8 .rows .socials{
    margin-top: 20px;
    display: flex;
    gap: 10px
}
.nav .nav-links #search{
    position: relative;
    bottom: 1vw;
    border-radius: 10px;
    border: 2px solid skyblue;
    padding: 3px;
    height: 5vh;
    width:20vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 255, 0);
}
.nav {
    height: 50px;
    width: 100%;
    position: relative;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 27px 8px 16px 52px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
   /* float: right; */
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    margin-right: 30px;
  }

  .nav > .nav-links > form {
    display: inline-block;
    padding: 32px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    color: #feaa14 ;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav .nav-header .nav-title .btn{
    color: white;
    position: relative;
    left: 70vw;
    font-size: 1.5vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    border-radius: 18px;
    padding: 14px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;
    text-decoration: none;
    bottom: 5px;
}
.nav .nav-header .nav-title .btn:hover {
    background-image: linear-gradient(224.06deg, #16C8D9 14.4%,  #1687D9 94.95%);
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
}
  

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 90px;
    border: 2px solid #15ADD9;
    border-radius: 3px;
    z-index: 9;
    bottom: 160px;
}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-image: linear-gradient(341deg, #1687D9 14.4%, #16C8D9 94.95%);
    color: white;
    padding: 2px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }





  @media screen and (max-width: 600px)
  {
       .nav{
            margin-top: 0px;
            box-shadow: 2px 2px 4px #000000;
        }

      .nav .nav-links #search{
          position: relative;
          left: 15vw;
          bottom: 1vw;
          border-radius: 10px;
          border: 2px solid skyblue;
          padding: 3px;
          width: 65vw;
          color: white;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          background-color: rgba(0, 0, 255, 0);
          text-align: center;
        }
  
      .nav > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
        }
        .nav > .nav-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
          margin-right: 316px;
          margin-top: 8px;
        }
        .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
            display: inline-block;
            color: red;
            border-radius: 10px;
            padding: 13px;
            width: 50px;
            height: 30px;
            
        }
        .nav > .nav-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
        .nav > .nav-links {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #010175;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
        }
        .nav > .nav-links > a {
          display: block;
          width: 100%;
          text-align: center;
        }
        .nav > #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
        }
        .nav > #nav-check:checked ~ .nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
          z-index: 1;
        }
    
        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 13px 20px 10px 70px;
          }

        .nav .nav-header .nav-title .btn{
            color: white;
            position: relative;
            left: 30vw;
            font-size: 3vw;
            background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
            border-radius: 18px;
            padding: 14px;
            border-radius: 20px;
            padding: 8px 23px 8px 23px;
            text-decoration: none;
            bottom: 5px;
        }
        .nav .nav-header .nav-title .btn:hover {
            background-image: linear-gradient(224.06deg, #16C8D9 14.4%,  #1687D9 94.95%);
            color: rgb(3, 66, 91) ;
            background-color: white;
            transition: 0.5s;
        }
    
        .course-nav {
            margin-left: 70px;
            gap: 10px;
        }
        .bg2 .newway .jw {
            font-size: 3vw;
            left: 0vw;
            top: 8vh;
        }
        .bg2 .newway{
             width: 100%;
        }
        .bg2 {
            display: block;
            text-align: center;
        }
        .bg2 .newway h1{
            margin-left: -10vw;
            font-size: 4vw;
        }
        .bg2 .newway p {
            font-size: 2vw;
            position: relative;
            top: 6.5vw;
            margin-left: -10vw;
        }
        .bg2 .first img {
            width: 100%;
            left: 26vw;
            margin-top: 5vh;
        }
        .bg2 .newway .lm{
            font-size: 4vw;
            left: 1vw;
            top: 8vh;
        }
        .bg2 .lm img{
            width: 6vw;
         }
         .course-text{
            margin-top: 80px;
        }
        .bg3 .datas {
            height: 160px;
        }
        .bg3 p{
            font-size: 3vw;
            text-align: center;
        }
        .bg3 .design{
            height: 160px;
        }
        .bg3 .photo{
            height: 160px;
        }
        .bg3 .cypto{
            height: 160px;
         }

         .bg4{
            height: 166vh;
         }
         .bg4two{
            height: 150vh;
         }
      
         .bg4 .exc{
            display: flex;
            color: white;
            margin-top: 200px;
            display: block;
            margin-right: 150px;
         }

         .bg4 .exc ul{
            position: relative;
            overflow-x: auto;
            scroll-snap-type: x;
            overflow-y: hidden;
            scroll-snap-type: inline mandatory;
         }

         .bg4 ul li a{
            margin-left: 10vw;
         }

         .bg4 .courses2{
            display: block;
            padding: 33px; 
         }
         .bg4two .courses2{
            display: block;
            padding: 33px; 
            margin-top: 13vh;
         }
         .bg4 .courses2 .cbody{
            width: 316px;
            height: 50vh;
            margin-left: -3vw;
         }
         .bg4two .courses2 .cbody{
            width: 316px;
            height: 46vh;
            margin-left: -3vw;
         }
         .bg4 .javaandco {
            width: 311px;
            height: 20vh;
        }
        .bg4two .javaandco {
            width: 311px;
            height: 20vh;
        }
        .bg4 .javaandco .love {
            left: 42vw;
        }
        .bg4two .javaandco .love {
            left: 42vw;
        }
        .bg4 .javaandco3 a{
            font-size: initial;
        }
        .bg4two .javaandco3 a{
            font-size: initial;
        }
        .bg4 .javaandco2 {
            font-size: 4.1vw;
            margin-left: 10px;
        }
        .bg4two .javaandco2 {
            font-size: 4.1vw;
            margin-left: 10px;
        }
        .bg4 .author img {
            width: 6vw;
            height: 6vw;
            margin-right: 2vw;
        }
        .bg4two .author img {
            width: 6vw;
            height: 6vw;
            margin-right: 2vw;
        }
        .bg5 {
            margin-top: 3vh;
        }
        .bg6{
            height: 19vh;
        }

        .bg7 {
            display: block;
            left: 14vw;

        }

        .bg7 .bai h1 {
            left: 30vw;
        }

        .bg7 .bai p {
            left: 30vw;
        }

        .bg7 .bai .instructor {
            left: 30vw;
        }
        .bg7 img {
            left: 14vw;
            width: 300px;
            
        }
        .bg4 .author {
            font-size: 3vw;
            margin-top: 20px;
            padding-bottom: 3vw;
        }
        .bg4 .author p {
            top: 2vw;
        }
        .bg4 .author .amount {
            font-size: 3vw;
            margin-left: 120px;
        }
        .bg8 {
            display: block;
            margin: 0px;
            background-color: #3551A0;
            border-radius: 0px;
            height: 130vh;
            text-align: center;
        }
        .bg8 .rows .row1 {
            margin-top: 15vh;
        }
        .bg8 .rows .row2 {
            font-size: small;
        }
        .bg8 .rows .row3 {
            font-size: small;
        }
        .bg8 .rows .row1 img{
            margin-top: 20vh;
            margin-left: 12vw;
        }
        .bg8 .rows .socials{
            gap: 0px;
        }
        .bg8 .rows .socials img{
            margin-top: 4vh;
            margin-left: 12vw;
        }
        .bg8 .rows .row1 p {
            top: 3.1999999999999993vw;
        }
        .bg8 .rows .row1 {
            top: 15.2vw;
        }
        .bg8 .rowstwo {
            margin-left: 0vw;
            margin-top: 10vw;
        }
        .bg8 .rowsthree {
            margin-left: 0vw;
            margin-top: 15vw;
        }
        .bg8 .rowstwo a {
            font-size: small;
        }
        .bg8 .rowsthree p {
            font-size: small;
        }
/*Courses.html Page responsiveness*/
        .aboutus-bg h1 {
            margin-top: 2vh;
        }

        .aboutus-bg {
            height: 35vh;
            margin-top: 0px;
        }
  }
    

  
