*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: jost;
}


.nav-item{
    background-color: rgb(1, 1, 117);
}

.justify-content-end{
    background-color: rgb(1, 1, 117);
  
}

.nav-link{
    color: #E0E0E0B2;
    ;
}

.nav-link:hover{
    border-bottom: 0.2vw solid rgb(5, 121, 167) ;
    padding-bottom: 0.3vw;
    color: white;
}
.nav img{

}
.bg8 .rows .socials{
    margin-top: 20px;
    display: flex;
    gap: 10px
}


.nav .nav-links #search{
    position: relative;
    bottom: 1vw;
    border-radius: 10px;
    border: 2px solid skyblue;
    padding: 3px;
    width:20vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 255, 0);
}

.nav {
    width: 100%;
    position: relative;
    background-color: rgb(1, 1, 117);
   
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 28px 10px 10px 60px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
   /* float: right; */
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    margin-right: 30px;
  }

  .nav > .nav-links > form {
    display: inline-block;
    padding: 32px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    color: #feaa14 ;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav .nav-header .nav-title .btn{
    color: white;
    position: relative;
    left: 70vw;
    font-size: 1.5vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    border-radius: 18px;
    padding: 14px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;
    text-decoration: none;
    bottom: 5px;
}
.nav .nav-header .nav-title .btn:hover {
    background-image: linear-gradient(224.06deg, #16C8D9 14.4%,  #1687D9 94.95%);
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
}
  



/*Courses.html Page Styling*/
.aboutus-bg{
    background-image: url(./images/);
    background-color: rgb(3, 22, 3);
    background-repeat: no-repeat;
    height: 50vh;
    border: 2px solid;
    background-size: cover;
    margin-bottom: 20px;
}

.aboutus-bg h1{
    color: white;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 20px;
}

.aboutus-bg h5{
    color: white;
    text-align: center;

}
  
  .aboutus-bg .ct .va{
    text-decoration: none;
    font-size: 1.5vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    padding: 8px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
 }
 .aboutus-bg .ct .va:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }

 .aboutus-bg .ct{
    text-align: center;
    margin-top: 40px;
}

.aboutus{
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vw;
    justify-content: center;
    gap: 20vw;
}

.aboutus .aboutus-text{
    padding-top: 20vh;

}

.aboutus .aboutus-text p{
    color: #010175;
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.aboutus img{
    margin-top: 20px;
}


.ourvision{
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vw;
    justify-content: center;
    gap: 20vw;
}

.ourvision .ourvision-text{
    padding-top: 20vh;

}

.ourvision .ourvision-text p{
    color: #010175;
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.ourvision img{
    margin-top: 20px;
}


.ourvision2{
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vw;
    justify-content: center;
    gap: 20vw;
}

.ourvision2 .ourvision2-text{
    padding-top: 20vh;

}

.ourvision2 .ourvision2-text p{
    color: #010175;
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.ourvision2 img{
    margin-top: 20px;
}

.recently-added-courses p{
    color: #010175;
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
    padding-left: 8vw;
    margin-top: 20vh;
}

.recently-added-courses h4{
    margin-bottom: 2vh;
    padding-left: 8vw;
}

.bg4 .courses2{
    display: flex;
}
.bg4 nav{
    display: flex;
}

.bg4 .courses2 .cbody{
    border: #15ADD9 solid 0.1vw;
    width: 27vw;
    padding: 0.4vw;
    border-radius: 20px;
    height: 70vh;
    margin-left: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 30px;
    

}
.bg4 .javaandco{ 
    border-radius: 20px;
    background:url(/images/java\ and\ co.PNG);
    background-position: center;
    background-repeat: no-repeat;
    width: 26vw;
    height: 30vh;
}
.bg4 .javaandco button{
    background: linear-gradient(180deg, #1687D9 0%, #1626D9 100%);
    color: white;
    border-radius: 7px;
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
    position: relative;
    left: 0.4vw;
    top: 0.5vw;
}
.bg4 .javaandco .love{
    background-color: rgb(1, 1, 117);
    color: white;
    border-radius: 15px;
    padding: 4px;
    position: relative;
    left: 14vw;
    top: 0.5vw;
}
.bg4 .javaandco2{
  display: flex; 
  color:  rgb(1, 1, 117); 
  margin-top: 1vw;
  font-size: 1.1vw;

}
.bg4 .javaandco2 .dev{
     margin-right: 12.8vw;
     color:  rgb(1, 1, 117);
     margin-left: 1vw;

  }
.bg4 .javaandco3{
    margin-top: 0.8vw;
}

.bg4 .javaandco3 a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #000000;
}
.bg4 .author{
    display: flex;
    margin-top: 1.5vw;
    font-size: 0.9vw;
    border-bottom: thin solid rgb(5, 121, 167) ;
    padding-bottom: 2.5vw;
    font-weight: bold;
}
.bg4 .author img{
    width: 2vw;
    height: 2vw;
    border-radius: 14vw;
    margin-right: 0.6vw;
}
.bg4 .author p{
    position: relative;
    top: 0.5vw;
}
.bg4 .author .rr{
    margin-right: 5.8vw;
}
.bg4 .author .amount{
    font-size: 1.2vw;
}
.bg4 .others{
    display: flex;
    font-weight: bold;
    margin-top: 1vw;
    gap: 36px;
    margin-left: 1vw;
    color: #504f4f;
}

.bg4 .others img{
    width: 15px;
    color: #504f4f;
    
}

.bg4 .btn{
    position: relative;
    margin-top: 20vw;
    text-decoration: none;
    font-size: 1.5vw;
    right: 53vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    padding: 8px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
 }
 .bg4 .btn:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }

 .bg4{
    overflow-x: auto;
    scroll-snap-type: x;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
 }

 .bg4::-webkit-scrollbar{
    display: none;
} 

/*background4 Second starts here*/
.background4 .courses2{
    display: flex;
}
.background4 nav{
    display: flex;
}

.background4 h2 {
    margin-left: 4.5vw;
    color: #000000;
}
.background4 .courses2 .cbody{
    border: #15ADD9 solid 0.1vw;
    width: 27vw;
    padding: 0.4vw;
    border-radius: 20px;
    height: 70vh;
    margin-left: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 30px;
}
.background4 .javaandco{ 
    border-radius: 20px;
    background:url(/images/java\ and\ co.PNG);
    background-position: center;
    background-repeat: no-repeat;
    width: 26vw;
    height: 30vh;
}
.background4 .javaandco button{
    background: linear-gradient(180deg, #1687D9 0%, #1626D9 100%);
    color: white;
    border-radius: 7px;
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
    position: relative;
    left: 0.4vw;
    top: 0.5vw;
}
.background4 .javaandco .love{
    background-color: rgb(1, 1, 117);
    color: white;
    border-radius: 15px;
    padding: 4px;
    position: relative;
    left: 14vw;
    top: 0.5vw;
}
.background4 .javaandco2{
  display: flex; 
  color:  rgb(1, 1, 117); 
  margin-top: 1vw;
  font-size: 1.1vw;

}
.background4 .javaandco2 .dev{
     margin-right: 12.8vw;
     color:  rgb(1, 1, 117);
     margin-left: 1vw;

  }
.background4 .javaandco3{
    margin-top: 0.8vw;
}

.background4 .javaandco3 a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #000000;
}
.background4 .author{
    display: flex;
    margin-top: 1.5vw;
    font-size: 0.9vw;
    border-bottom: thin solid rgb(5, 121, 167) ;
    padding-bottom: 2.5vw;
    font-weight: bold;
}
.background4 .author img{
    width: 2vw;
    height: 2vw;
    border-radius: 14vw;
    margin-right: 0.6vw;
}
.background4 .author p{
    position: relative;
    top: 0.5vw;
}
.background4 .author .rr{
    margin-right: 5.8vw;
}
.background4 .author .amount{
    font-size: 1.2vw;
}
.background4 .others{
    display: flex;
    font-weight: bold;
    margin-top: 1vw;
    gap: 36px;
    margin-left: 1vw;
    color: #504f4f;
}

.background4 .others img{
    width: 15px;
    color: #504f4f;
    
}

.background4 .btn{
    position: relative;
    margin-top: 20vw;
    text-decoration: none;
    font-size: 1.5vw;
    right: 53vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    padding: 8px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
 }
 .background4 .btn:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }


/*bh4-two Second ends here*/


.bg8{
    display: flex;
    color: black;
    height: 60vh;
    border-top: 0.1vw solid rgb(165 186 195);
    margin-bottom: 5vw;
    margin-top: 10vh;
}

.bg8 .rows{
    margin-left: 5vw;
    margin-top: 5vw;
}
.bg8 .rows .row1{
    display: flex;
    font-size: 1.7vw;
}
.bg8 .rows .row1 p{
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rows .row2{
    margin-top: 3vw;
    font-size: 1.5vw;

}
.bg8 .rows .row3{
    margin-top: 3vw;
    font-size: 1.5vw;

}
.bg8 .rowstwo{
    margin-left: 25vw;
    margin-top: 5vw;
}
.bg8 .rowstwo a{
   color: #000000;
   text-decoration: none;
}
.bg8 .rowstwo .rowi{
    font-size: 1.7vw;
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rowstwo .rowii{
    margin-top: 3vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowiii{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowiv{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowstwo .rowv{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree{
    margin-left: 20vw;
    margin-top: 5vw;
   
}
.bg8 .rowsthree .row11{
    font-size: 1.7vw;
    position: relative ;
    top: 0.2vw ;
}
.bg8 .rowsthree .row12{
    margin-top: 3vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row13{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row14{
    margin-top: 2vw;
    font-size: 1.5vw;
}
.bg8 .rowsthree .row15{
    margin-top: 2vw;
    font-size: 1.5vw;
}

.exclusive-courses-bg{
    background-image: url(./images/);
    background-color: rgb(3, 22, 3);
    background-repeat: no-repeat;
    height: 50vh;
    border: 2px solid;
    background-size: cover;
    margin-bottom: 20px;
}

.exclusive-courses-bg h1{
    color: white;
    text-align: left;
    margin-left: 4vw;
    margin-top: 15vh;
    margin-bottom: 20px;
}

.exclusive-courses-bg h5{
    color: white;
    text-align: left;
    margin-left: 4vw;
}

.track{
    display: flex;
    gap: 6vw;
    float: right;
    margin-right: 6vw;
    color: #010175;
}

.track h5:hover{
    border-bottom: 2px solid blue;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.vw{
    position: relative;
    left: 45vw;
    margin-bottom: 30vh;
    font-size: 1.5vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    height: 42px;
    width: 149px;
    border-radius: 20px;
    padding: 8px 23px 8px 23px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
 }
 .vw:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }

 .aboutus-bg .ct{
    text-align: center;
    margin-top: 40px;
}

.bg4 .exc{
    display: flex;
    margin-top: 15vh;
    margin-left: 8vw;  
 }
 .bg4 .exc p{
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
   
}

 .bg4 ul{
    display: flex;
    position: relative;
    left: 27vw;
    
}
.bg4 ul li{
    list-style:none;
}

.bg4 ul li a{
    text-decoration: none;
    font-size: small;
    margin-left: 2vw;
    color: #000000;
    font-weight: bold;
}
.bg4 ul li a:hover{
    border-bottom: 0.2vw solid rgb(5, 121, 167) ;
    padding-bottom: 0.3vw;
}

.recommended p{
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 2vh;
    padding-left: 8vw;
    margin-top: 10vh;
}

.inprogress{
    margin-top: 10vh;
    border-top: 1px solid blue;

}

/*in progress starts here*/


.inprogress h2 {
    margin-left: 4.5vw;
    color: #000000;
}
.inprogress .courses2 .cbody{
    display: flex;
    border: #15ADD9 solid 0.1vw;
    width: 90vw;
    padding: 0.4vw;
    border-radius: 20px;
    height: 33vh;
    margin-left: 3.5vw;
    margin-top: 4vw;
    margin-bottom: 30px;
}
.inprogress .javaandco{ 
    border-radius: 20px;
    background:url(/images/java\ and\ co.PNG);
    background-position: center;
    background-repeat: no-repeat;
    width: 21vw;
    height: 30vh;
}
.inprogress .javaandco button{
    background: linear-gradient(180deg, #1687D9 0%, #1626D9 100%);
    color: white;
    border-radius: 7px;
    border-radius: 25px;
    padding: 14px;
    padding: 8px 23px 8px 23px;
    position: relative;
    left: 0.4vw;
    top: 0.5vw;
}
.inprogress .javaandco .love{
    background-color: rgb(1, 1, 117);
    color: white;
    border-radius: 15px;
    padding: 4px;
    position: relative;
    left: 7vw;
    top: 0.5vw;
}
.inprogress .javaandco2{
  display: flex; 
  color:  rgb(1, 1, 117); 
  margin-top: 1vw;
  font-size: 1.1vw;
  gap: 40vw;

}
.inprogress .javaandco2 .dev{
     margin-right: 12.8vw;
     color:  rgb(1, 1, 117);
     margin-left: 1vw;
   
  }

.inprogress .javaandco3{
    margin-top: 0.8vw;
    margin-left: 1vw;
}

.inprogress .javaandco3 a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #000000;
}
.inprogress .author{
    display: flex;
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-size: 0.9vw;
    padding-bottom: 2.5vw;
    font-weight: bold;
    gap: 1.2vw;
}
.inprogress .author img{
    width: 2vw;
    height: 2vw;
    border-radius: 14vw;
    margin-right: 0.6vw;
}
.inprogress .author p{
    position: relative;
    top: 0.5vw;
}
.inprogress .author .rr{
    margin-right: 5.8vw;
}
.inprogress .author .amount{
    font-size: 1.2vw;
}
.inprogress .others{
    display: flex;
    font-weight: bold;
    margin-top: 1vw;
    gap: 36px;
    margin-left: 1vw;
    color: #504f4f;
}

.inprogress .others img{
    width: 15px;
    color: #504f4f;
    
}

.inprogress .btn{
    position: relative;
    margin-top: 20vw;
    text-decoration: none;
    font-size: 1.5vw;
    right: 53vw;
    background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
    padding: 14px;
    padding: 8px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
 }
 .inprogress .btn:hover{
    color: rgb(3, 66, 91) ;
    background-color: white;
    transition: 0.5s;
 }


/*in progress ends here*/
 


@media screen and (max-width: 600px)
  {
       .nav{
            margin-top: 0px;
            box-shadow: 2px 2px 4px #000000;
        }

      .nav .nav-links #search{
          position: relative;
          left: 15vw;
          bottom: 1vw;
          border-radius: 10px;
          border: 2px solid skyblue;
          padding: 3px;
          width:20vw;
          color: white;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          background-color: rgba(0, 0, 255, 0);
      }
  
      .nav > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
        }
        .nav > .nav-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
          margin-right: 330px;
          margin-top: 8px;
        }
        .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
            display: inline-block;
            color: red;
            border-radius: 10px;
            padding: 13px;
            width: 50px;
            height: 30px;
            
        }
        .nav > .nav-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
        .nav > .nav-links {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #010175;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
        }
        .nav > .nav-links > a {
          display: block;
          width: 100%;
        }
        .nav > #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
        }
        .nav > #nav-check:checked ~ .nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
          z-index: 1;
        }
    
        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 13px 20px 10px 70px;
          }

        .nav .nav-header .nav-title .btn{
            color: white;
            position: relative;
            left: 30vw;
            font-size: 3vw;
            background-image: linear-gradient(224.06deg, #1687D9 14.4%, #16C8D9 94.95%);
            border-radius: 18px;
            padding: 14px;
            border-radius: 20px;
            padding: 8px 23px 8px 23px;
            text-decoration: none;
            bottom: 5px;
        }
        .nav .nav-header .nav-title .btn:hover {
            background-image: linear-gradient(224.06deg, #16C8D9 14.4%,  #1687D9 94.95%);
            color: rgb(3, 66, 91) ;
            background-color: white;
            transition: 0.5s;
        }
        .aboutus-bg{
            height: 25vh;

        }

        .aboutus-bg h1{
            margin-top: 3vh;
        }

        .aboutus{
            display: block;
            padding-top: 0vh;
           
    }   
        .aboutus .aboutus-text {
            padding-top: 5vh;
            padding-left: 5vw;
    }
        .aboutus img {
            width: 90%;
            height: 25%;
            border-radius: 20px;
            margin-left: 5vw;
        }
            
        .aboutus .aboutus-text p{
            font-size: 5vw;
        }
        .aboutus .aboutus-text h4{
            font-size: small;
        }
        .ourvision{
            display: block;
            padding-top: 0vh;
        }

        .ourvision .ourvision-text{
            padding-top: 5vh;
            padding-left: 5vw;
        }
        .ourvision img{
            width: 90%;
            height: 25%;
            border-radius: 20px;
            margin-left: 5vw;
        }

        .ourvision .ourvision-text p{
            font-size: 5vw;
        }
        .ourvision .ourvision-text h4{
            font-size: small;
        }

        .ourvision2{
            display: block;
            padding-top: 0vh;
        }

        .ourvision2 .ourvision2-text{
            padding-top: 5vh;
            padding-left: 5vw;
        }
        .ourvision2 img{
            width: 90%;
            height: 25%;
            border-radius: 20px;
            margin-left: 5vw;
        }

        .ourvision2 .ourvision2-text p{
            font-size: 5vw;
        }
        .ourvision2 .ourvision2-text h4{
            font-size: small;
        }

        /*Footer*/
        .bg8 {
            display: block;
            margin: 0px;
            border-radius: 0px;
            height: 80vh;
            margin-top: 7vh;
        }


        .bg8 .rows .row1 p {
            top: 3.1999999999999993vw;
        }

        .bg8 .rows .row1 {
            top: 15.2vw;
        }

        .bg8 .rowstwo {
            margin-left: 10vw;
            margin-top: 10vw;
        }

        .bg8 .rowsthree {
            margin-left: 10vw;
            margin-top: 15vw;
        }

        .bg4 .courses2 .cbody {
            width: 345px;
            height: 45vh;
        
        }

        .bg4 .javaandco {
            width: 340px;
            height: 20vh;
        }

        .bg4 .javaandco2 {
            font-size: 4.1vw;
            margin-left: 10px;
        }

        .bg4 .javaandco3 a {
            font-size: initial;
        }

        .bg4 .author {
            font-size: 3vw;
            margin-top: 20px;
            padding-bottom: 3vw;
        }

        .bg4 .author img {
            width: 6vw;
            height: 6vw;
            margin-right: 2vw;
        }

        .bg4 .author .amount {
            font-size: 3vw;
            margin-left: 120px;
        }
    /*background4 responsiveness starts here*/
    .background4 .courses2 .cbody{
        width: 345px;
        height: 45vh;
        margin-left: 6vw;
    }
    .background4 .exc{
        display: flex;
        color: white;
     }

     .background4 .exc ul{
        position: relative;
        overflow-x: auto;
        scroll-snap-type: x;
        overflow-y: hidden;
        scroll-snap-type: inline mandatory;
     }
    

     .background4 ul li a{
        margin-left: 10vw;
     }

     .background4 .courses2{
        display: block;
        
     }
     .bg4 .courses2 .cbody{
        width: 345px;
        height: 45vh;
        margin-left: 6vw;
     }
     .background4 .javaandco {
        width: 340px;
        height: 20vh;
    }
    .background4 .javaandco .love {
        left: 50vw;
    }

    .background4 .javaandco3 a{
        font-size: initial;
    }

    .background4 .javaandco2 {
        font-size: 4.1vw;
        margin-left: 10px;
    }

    .background4 .sl{
        display: block;
        width: 345px;
        height: 45vh;
        margin-left: 3vw;
    }

    .background4 .sl .cbody{
        width: 345px;
        height: 45vh;
        margin-left: 2vw;
    /* margin-left: 0vw;*/
    }

    .background4 .author img {
        width: 6vw;
        height: 6vw;
        margin-right: 2vw;
    }

    .background4 .author {
        font-size: 3vw;
        margin-top: 20px;
        padding-bottom: 3vw;
    }

    .background4 .author p {
        top: 2vw;
    }

    .bgbackground4 .author .amount {
        font-size: 3vw;
        margin-left: 120px;
    }

 /*background4 responsiveness ends here*/


        .track {
            margin-right: 4vw;
        }

        .exclusive-courses-bg{
            height: 25vh;
        }

        .exclusive-courses-bg h1 {
            margin-top: 8vh;
        }
}